<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
    <link rel="stylesheet" href="../css/store.css">
</head>
<body>
    <header id="cabecalho">
        <h1>Store</h1>
    </header>
    <main id="conteudo">
        <section class="area-produto">
            <header class="registrar-produto">
                <h1>Product</h1>
                <input type="text" class="nome-de-produto" placeholder="Adicione um item">
                <button class="add-product">Add Product</button>
            </header>
        </section>
        <div class="area-estoque">
            <h1>Estoque</h1>
            <ul class="estoque"></ul>
        </div>
    </main>
    <script src="../script/store.js"></script>
</body>
</html>